header {
    color: white;
    background-color: #38495b;
    font-family: Arial;
  }
  h1 {
    text-align: center;
  }
  
  .board {
    display: grid;
    background-color: #38495b;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    border: 5px solid #303e4f;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .square {
    font-family: arial;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #303e4f;
    border-radius: 3px;
  }